.item_to_chose {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: whitesmoke;
    min-height: 0;
    min-width: 10rem;
    overflow: hidden;
    transition: all 0.2s linear;
    transform: scaleY(0);
    transform-origin: top;

}

div.activeModelItemBuy {
    transform: scaleY(1);
    min-height: 10rem;
}